footer {
  background-color: #222;
  color: var(--color-background);

  .footer-wrapper {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: var(--spacing-4);
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: var(--spacing-8);

    .footer-section {
      p {
        font-family: var(--font-secondary);
        font-weight: 500;
      }
      ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-1);
        padding: 0;
        font-size: 0.9em;

        li {
          a {
            color: var(--color-primary);
          }
        }
      }
    }
  }
}
