header {
  position: sticky;
  top: 0;
  background-color: #e3e3e3;

  nav {
    max-width: var(--container-width);
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    gap: 2rem;

    a {
    }
  }
}
